RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule ^([^\.]+)$ $1.html [NC,L]
php_flag log_errors On
php_value error_log /home/cooleman/public_html/error_log
DirectoryIndex organisation.php
