body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}
TD {
	font-family: Arial, Helvetica, sans-serif;
}
A:link {
	color: #596132;
	font-weight: 600;
	text-decoration: none;
}
A:visited {
	color: #596132;
	font-weight: 600;
	text-decoration: none;
}
A:hover {
	color: #ba7025;
	font-weight: 600;
	text-decoration: underline;
}
A:active {
	color: #ba7025;
	font-weight: 600;
	text-decoration: none;
}

td.news {
	width:8%
}
th.news.month {
	width:20%
}
td.news A:link {
	color: red;
	font-weight: 600;
	text-decoration: underline;
}
td.news A:visited {
	color: orange;
	font-weight: 600;
	text-decoration: underline;
}
td.news A:hover {
	color: #3A25FF;
	font-weight: 600;
	text-decoration: underline;
}
td.news A:active {
	color: #3a25ff;
	font-weight: 600;
	text-decoration: underline;
}

img {
	border:1px solid black;
}
.none:visited {
	color: #596132;
}
.pictureLabel {
	text-align: center;
	font-weight: bold;
}
th.header{
	background-image: url(/images/bg.gif);
	background-repeat: no-repeat;
	background-position-x:right;
	background-position-y:center;
	background-color: #ffffff; 
	
}
th.headerSortUp {     
	background-image: url(/images/asc.gif);     
	background-repeat: no-repeat;
	background-position-x:right;
	background-position-y:center;
	background-color: #ffffff; 
} 

th.headerSortDown {     
	background-image: url(/images/desc.gif);
	background-repeat: no-repeat;
	background-position-x:right;
	background-position-y:center;
	background-color: #ffffFF; 
}

h2,h3,h4
{
    color:#ba7025;
    font-family:ARIAL;
}

.content
{
    padding:0px
}

.caption
{
    font-weight:bold
}

.vertical-align {
   min-height: 1000px; /*Add a height or minimum height to the containers*/
   position: relative;
}

.vertical-align img{
   position: absolute;
   bottom: 0;
   right: 0;
   left: 0;
   margin-right: auto;
   margin-left:auto;
}