body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	line-height: 1.5;
}

/*Nav*/

nav a:link
{
	color: #dbceb0;
}

nav a:visited
{
	color: #dbceb0;
}

nav h2
{
	color: #dbceb0;
}

.navbar
{
	background-color:#838060;
}

.dropdown-menu
{
	background-color: #838060;
}

/*Footer*/

.footer
{
	background-color:#838060;
}

/*Headings*/

h2,h3,h4
{
	color:#838060;
	font-family:ARIAL;
}

h2
{
	font-weight: bold;
}

/*Anchors*/

A:link {
	color: #7e4a35;
	font-weight: 600;
	text-decoration: none;
}
A:visited {
	color: #7e4a35;
	font-weight: 600;
	text-decoration: none;
}
A:hover {
	color: #838060;
	font-weight: 600;
	text-decoration: underline;
}
A:active {
	color: #838060;
	font-weight: 600;
	text-decoration: none;
}

/*Tables*/

td
{
	padding:5px
}

table.news
{
	padding:5px;
	width:100%;
	border:thin;
	border-style:solid;
	border-color:olive;
}

th.news
{
	text-align:center;
	border:thin;
	border-style:solid;
	color:olive;
	border-color:olive;
}

th.news.month {
	width:20%
}

td.news {
	width:8%;
	text-align:center;
	border:thin;
	border-style:solid;
	border-color:olive;
}

td.news A:link {
	color: #7e4a35;
	font-weight: 600;
	text-decoration: underline;
}

td.news A:visited {
	color: #cab577;
	font-weight: 600;
	text-decoration: underline;
}

td.news A:hover {
	color: #838060;
	font-weight: 600;
	text-decoration: underline;
}

td.news A:active {
	color: #838060;
	font-weight: 600;
	text-decoration: underline;
}

tfoot input {
	width: 100%;
	padding: 3px;
	box-sizing: border-box;
}


/*Images*/

/*img {*/
	/*border:1px solid black;*/
/*}*/

.none:visited {
	color: #596132;
}

.pictureLabel {
	text-align: center;
	font-weight: bold;
}




.content
{
    padding:0px
}

.caption
{
    font-weight:bold
}

.vertical-align {
   min-height: 1000px; /*Add a height or minimum height to the containers*/
   position: relative;
}

.vertical-align img{
   position: absolute;
   bottom: 0;
   right: 0;
   left: 0;
   margin-right: auto;
   margin-left:auto;
}

.carousel-item {
	height: 85vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#blackberrysmap {
    height:840px;
    width:1200px;
}
#areasmap {
	height:840px;
	width:1200px;
}
#trailsmap {
	height:840px;
	width:1200px;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}